{% extends 'baseDashbord.html.twig' %}
{% block title %} Modifier Article {% endblock %}
{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-secondary" >{{ 'Modifier'|default('Save') }}</button>
{{ form_end(form) }}

{% endblock %}