{% extends 'baseDashbord.html.twig' %}
{% block body %}
<h1>{{ article.nom }}</h1>
<label>Prix : </label>
<p>{{ article.prix }}</p>
<label>Category : </label>
<p>{{ article.category.titre }}</p>
<hr>
<a href="/article">Retour</a>
{% endblock %}